/* 
/* 
.alluser_info{
    width: 80%;
    margin: 4rem auto;
    font-size: 1.5rem;
}

.alluser{
    width: 80%;
    margin: 2rem auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

@media only screen and (max-width: 35em) {
    .alluser_info{
        width: 90%;
        font-size: 1rem;
        margin: 2rem auto;
    }

    .alluser{
        width: 90%;
        grid-template-columns: 1fr;
    }
} */

.alluser_info { 
    font-size: 1.5rem; 
} 
 
.header { 
    width: 80%; 
    margin: 4rem auto 2rem auto; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} 
 
.alluser { 
    width: 80%; 
    margin: 2rem auto; 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 3rem; 
} 
 
.all { 
    width: 100%; 
    margin: 0; 
} 
 
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 1rem;
}

.searchInput {
  padding: 0.5rem 1rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  flex-grow: 1;
}

.searchInput:focus {
  border-color: #333;
}

.searchButton {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.searchButton:hover {
  background-color: #555;
  transform: scale(1.05);
}

.searchButton i {
  margin-left: 0.5rem;
}

.searchButton span {
  margin-right: 0.5rem;
}

 
@media only screen and (max-width: 35em) { 
    .alluser_info { 
        font-size: 1rem; 
    } 
 
    .header { 
        width: 90%; 
        flex-direction: column; 
        align-items: flex-start; 
    } 
 
    .search { 
        width: 100%; 
        margin-top: 1rem; 
    } 
 
    .alluser { 
        width: 90%; 
        grid-template-columns: 1fr; 
    } 
}