.toggle_password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.toggle_password img {
  width: 20px;
  height: 20px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.Cpassword_input_wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.Cpassword_input_wrapper input {
  flex-grow: 1;
  padding-right: 40px; 
}