/* Mnem.module.css */

.mnem {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mnem_content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Maximum width for responsiveness */
  text-align: center;
}

.mnem_content h2 {
  margin-bottom: 20px;
}

.mnem_content textarea {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allows vertical resizing */
  font-size: 14px;
}

.mnem_content .error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.mnem_buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.mnem_buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mnem_buttons button:disabled {
  background: grey;
  cursor: not-allowed;
}

.mnemonic_word {
  margin: 5px;
  padding: 8px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.mnemonic_word.selected {
  background-color: blue;
  color: white;
}
